@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "IBM Plex Sans";
  font-weight: 300;
  font-style: normal
}

.editor-list-ol {
  @apply list-decimal list-inside
}

.editor-list-ul {
  @apply list-disc list-inside
}

.editor-heading-h1 {
  @apply text-4xl
}

.editor-heading-h2 {
  @apply text-2xl
}

.sigma-container {
  background-image: radial-gradient(gray 1px, transparent 0);
  background-size: 40px 40px;
}

.main-app-enter {
  opacity: 0;
}

.main-app-enter-active {
  opacity: 1;
  transition: 200ms;
}

.main-app-exit {
  opacity: 1;
}

.main-app-exit-active {
  opacity: 0;
  transition: 200ms;
}

.editor-code {
  color: white;
  display: block;
  @apply m-4 p-2
}

code[class*="language-"]::selection,
pre[class*="language-"]::selection,
code[class*="language-"] ::selection,
pre[class*="language-"] ::selection {
	background: #363636;
}

.editor-code {
  background: #363636;
}

.prism_atrule {
	color: #c792ea;
}

.prism_attr-name {
	color: #ffcb6b;
}

.prism_attr-value {
	color: #a5e844;
}

.prism_attribute {
	color: #a5e844;
}

.prism_boolean {
	color: #c792ea;
}

.prism_builtin {
	color: #ffcb6b;
}

.prism_cdata {
	color: #80cbc4;
}

.prism_char {
	color: #80cbc4;
}

.prism_class {
	color: #ffcb6b;
}

.prism_class-name {
	color: #f2ff00;
}

.prism_comment {
	color: #616161;
}

.prism_constant {
	color: #c792ea;
}

.prism_deleted {
	color: #ff6666;
}

.prism_doctype {
	color: #616161;
}

.prism_entity {
	color: #ff6666;
}

.prism_function {
	color: #c792ea;
}

.prism_hexcode {
	color: #f2ff00;
}

.prism_id {
	color: #c792ea;
	font-weight: bold;
}

.prism_important {
	color: #c792ea;
	font-weight: bold;
}

.prism_inserted {
	color: #80cbc4;
}

.prism_keyword {
	color: #c792ea;
}

.prism_number {
	color: #fd9170;
}

.prism_operator {
	color: #89ddff;
}

.prism_prolog {
	color: #616161;
}

.prism_property {
	color: #80cbc4;
}

.prism_pseudo-class {
	color: #a5e844;
}

.prism_pseudo-element {
	color: #a5e844;
}

.prism_punctuation {
	color: #89ddff;
}

.prism_regex {
	color: #f2ff00;
}

.prism_selector {
	color: #ff6666;
}

.prism_string {
	color: #a5e844;
}

.prism_symbol {
	color: #c792ea;
}

.prism_tag {
	color: #ff6666;
}

.prism_unit {
	color: #fd9170;
}

.prism_url {
	color: #ff6666;
}

.prism_variable {
	color: #ff6666;
}